.form {
  margin-top: 40px;
}
.form label {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #b7b7b7;
  margin-bottom: 10px;
  padding-left: 16px;
}
.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
@media screen and (max-width: 1100px) {
  .form-inputs {
    min-width: unset;
    flex-direction: column;
  }
}

.form-submit {
  background: linear-gradient(97.46deg, #ff585f 3.28%, #fa5897 95.35%);
  border-radius: 12px;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  padding: 12px 30px;
  cursor: pointer;
  margin-left: auto;
}
.form-submit:hover {
  background: linear-gradient(97.46deg, #c03940 3.28%, #b33263 95.35%);
}
@media screen and (max-width: 700px) {
  .form-submit {
    order: -1;
  }
}
.form-results {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
  opacity: 0;
}
@media screen and (max-width: 700px) {
  .form-results {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .form-results {
    flex-direction: column;
    gap: 10px;
  }
}
.form-results.show {
  opacity: 1;
}
.form-result__equals {
  background: #2b2440;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-result__item {
  background: #1e192d;
  border-radius: 12px;
  padding: 12px;
  align-items: center;
  display: grid;
  -moz-column-gap: 8px;
  column-gap: 8px;
  width: -moz-max-content;
  width: max-content;
  grid-template-columns: 32px 1fr;
  grid-template-areas: "icon titles" "icon amount";
}
@media screen and (max-width: 700px) {
  .form-result__item {
    flex-grow: 1;
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (max-width: 500px) {
  .form-result__item {
    width: 100%;
  }
}
.form-result__item.from .icon {
  background: #fc5782;
  box-shadow: 0px 0px 0px 2px rgba(252, 87, 130, 0.25);
}
.form-result__item.to .icon {
  background: #1fc4af;
  box-shadow: 0px 0px 0px 2px rgba(31, 196, 175, 0.25);
}
.form-result__item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: icon;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.form-result__item-titles {
  grid-area: titles;
  display: flex;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (max-width: 700px) {
  .form-result__item-titles {
    flex-direction: column;
    align-items: start;
  }
}
.form-result__item-title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}
.form-result__item-full {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(245, 245, 245, 0.5);
}
.form-result__item-value {
  grid-area: amount;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin-top: 6px;
}

.rate-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(245, 245, 245, 0.5);
}
@media screen and (max-width: 500px) {
  .rate-information {
    flex-direction: column;
    gap: 10px;
  }
}
.rate-conversion {
  color: #fff;
}
